@model IEnumerable<BorisWeb.Models.Rate>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to BorisChats rate page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="blank-size container d-flex justify-content-center align-items-center">
        <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="name-size">
                    @item.Name
                </div>
                <div class="ratings">
                    @for (int x = 0; x < @item.Rating; x++)
                    {
                        <i class="fa fa-star rating-color"></i>
                    }
                    @for (int x = 0; x < 5 - @item.Rating; x++)
                    {
                        <i class="fa fa-star"></i>
                    }                   
                </div>
            </div>
            <div class="review-size">
                @item.Feedback
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="date-size">
                    @item.Date
                </div>
                <div>
                    <a class="style-zero" asp-action="Edit" asp-route-id="@item.Name">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="style-zero" asp-action="Details" asp-route-id="@item.Name">
                        <i class="bi bi-zoom-in"></i>
                    </a>
                    <a class="style-zero" asp-action="Delete" asp-route-id="@item.Name">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}